<div class="audioPlayer _instance_of_player">
  <a class="play"></a>
  <div class="secondTime">00:00</div>
  <div class="audioSlider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
    <a class="ui-slider-handle ui-state-default ui-corner-all" style="left:0%"></a>
  </div>
  <div class="secondTime"><%= seconds_to_time(audio.min_duration) %></div>
  <div class="sliderDisabler"></div>
</div>
