<p><b>Warning!</b></p>

<p>The size of the media elements folder (<b><%= '%.2f' % @current_media_elements_folder_size_in_gigabytes %> Gb</b>) reached the 80% of the maximum size allowed (<b><%= '%.2f' % @maximum_media_elements_folder_size_in_gigabytes %> Gb</b>). Media elements uploading and editing will be disabled at the reaching of the limit.
<p>

<p>
  Please increase the maximum size as soon as possible providing more disk space if necessary and editing the maximum_media_elements_folder_size: parameter inside the application config/settings.yml file.
</p>
