<div class="dashboard-lessons-empty-situation-container">
  <%= link_to '', new_lesson_path %>
  <div class="prompts">
    <div class="reason">
      <% if emptied %>
        <%= t('dashboard.empty.lessons.title_emptied') %>
      <% else %>
        <%= t('dashboard.empty.lessons.title') %>
      <% end %>
    </div>
    <div class="big-prompt">
      <%= t('dashboard.empty.lessons.prompt') %>
    </div>
  </div>
</div>
