 <div class="dots_pagination_container" style="display:block" data-title-prev="<%= t('titles.pagination.prev') %>" data-title-next="<%= t('titles.pagination.next') %>">
  <span class="dots_pagination">
    <span class="pages">
      <a data-page="0" class="disabled"></a><a data-page="1" class="current"></a><a data-page="2" class="disabled"></a>
    </span>
  </span>
</div>
