<div class="slide-not-loaded <%= kind %> normal-size">
  <div style="display:table; width:500px; height:570px; margin: 0 auto;  text-align:center;">
    <div style="display:table-cell; vertical-align:middle;">
      <%= image_tag 'ajax-loader-2.gif' %>
    </div>
  </div>
</div>
