  <general>
    <title>
      <string language="<%= scorm_locale %>"><%= document.title %></string>
    </title>
    <description>
      <string language="<%= scorm_locale %>"><%= document.description %></string>
    </description>
    <structure>
      <source>LOMv1.0</source>
      <value>atomic</value>
    </structure>
  </general>
