$body-padding: 16px;

html.audio-slide {

body {
  margin: 0;
  padding: $body-padding;
  min-width: 400px;
  max-width: 900px;
}

.title {
  color: #F29400;
  font-size: 4em;
  font-weight: normal;
  line-height: 100%;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

.audio {
  font-size: 0.8em;
  font-style: italic;
}

audio {
  width: 100%;
}

audio, .text {
  margin-top: 1em;
}

.text {
  @extend %hyphenate;
  text-align: justify;
  img {
    vertical-align: middle;
  }
}

}