<div class="emptyFilter">
  <% if word.blank? %>
    <h1><%= t('search.lessons.empty_filter') %></h1>
  <% else %>
    <h1><%= t('search.lessons.empty_word', :word => word).html_safe %></h1>
  <% end %>
</div>
