<%
  url_type ||= nil
  video = slide.media_elements_at
  unless defined? media_viewer_type then media_viewer_type = MediaElement::ViewerTypes::CUSTOM end
%>

<div class="slide-content video2 normal-size">
  
  <div class="item video-container">
    <div class="video read-only">
      <% if video %>
        <% if video.converted? %>
          <%= render :partial => "shared/players/#{media_viewer_type}/video", :locals => {:video => video, :initialize_now => loaded, url_type: url_type, exporting_slide: !loaded} %>
        <% else %>
          <%= image_tag video.placeholder_url(:lesson_viewer_big, url_type), :title => t('titles.not_available.video', :title => video.title) %>
        <% end %>
      <% end %>
    </div>
  </div>
  
</div>
