<div class="dialog">
  <p><img alt="Logo" src="assets/logo.gif"></p>
  <h1><%= t('browsers.title', :desy => SETTINGS['application_name']) %></h1>
  <p style="height:200px"><%= t('browsers.description', :desy => SETTINGS['application_name']) %></p>
  <p style="padding-top:30px; font-size:10px"><%= t('browsers.links').upcase %></p>
  <p style="padding-top:15px"><a href="http://windows.microsoft.com/it-it/internet-explorer/download-ie"><img src="assets/logo_ie.gif"></a><a href="https://www.google.com/intl/it/chrome/browser/"><img src="assets/logo_chrome.gif"></a><a href="http://www.mozilla.org/it/firefox/new/"><img src="assets/logo_firefox.gif"></a><a href="http://www.google.com/chromeframe?hl=it&prefersystemlevel=true"><img src="assets/logo_chrome_frame.gif"></a></p>
</div>
