<div class="dialog">
  <h1><%= t('fullpage_notifications.reset_password.email_sent.title') %></h1>
  <p style="font-size:120%; color:#fff; background-color:transparent;"><%= t('fullpage_notifications.reset_password.email_sent.description').html_safe %></p>
  <p style="padding-top:30px">
    <%= link_to image_tag('logo_grigio.png'), root_path, :title => t('fullpage_notifications.back') %>
  </p>
</div>
