<% group.addresses.each_with_index do |address, index| %>
  <tr>
    <td class="index"><%= index + 1 %></td>
    <td class="name"><%= address.heading %></td>
    <td class="email">
      <%= address.email %>
      <%= link_to '', "/mailing_lists/#{group.id}/addresses/#{address.id}/delete", {:method => :delete, :remote => true} %>
    </td>
  </tr>
<% end %>
