<div class="empty-situation-container">
  <a class="openLoader" data-type="media-element">
    <div class="plus"></div>
    <div class="prompts">
      <div class="reason">
        <%= t('media_elements.empty') %>
      </div>
      <div class="big-prompt">
        <%= t('media_elements.load_new_now') %>
      </div>
    </div>
  </a>
</div>
