<div id="add_new_video_component" class="newElement">
  <div class="contatore _component_counter" style="opacity:0.3"></div>
  <div class="boxNewMediaElement _new_component_in_video_editor_hover">
    <div class="contentNew _new_component_in_video_editor_button">
      <a class="creaNuovoButton" title="<%= t('titles.video_editor.add_new_component') %>"></a>
    </div>
  </div>
</div>
