<div class="_video_editor_component_menu boxMenuMediaElement" style="display:none">
  <a class="cutButton _video_component_cutter_button"  title="<%= t('titles.video_editor.component_menu.cutter') %>"></a>
  <a class="creaNuovoButton _new_component_in_video_editor_button _replace_component"  title="<%= t('titles.video_editor.component_menu.change') %>"></a>
  <a class="closeButton _remove_component_from_video_editor_button"  title="<%= t('titles.video_editor.component_menu.remove') %>"></a>
</div>
