<div class="header">
  <div class="contenitore" style="width: 960px; margin: 0 auto; display: inline-block;" >
    <div class="fltrt"><a href="javascript:history.back();" class="esciButton" title="<%= t('titles.exit') %>"></a></div>
  </div>
</div>
<div class="mediaSelectEditorButtonContainer">
  <div class="contentTitle">
    <h1><%= t('video_editor.not_available.title') %></h1>
    <h2><%= t('video_editor.not_available.description') %></h2>
  </div>
</div>
