<div class="boxContentMediaElementText background_color_<%= background_color %>  _video_component_thumb">
  <p class="color_<%= text_color %> _text_content"><%= content.html_safe %></p>
  <%= render :partial => 'video_editor/component_menu' %>
</div>
