<div id="mini_thumb_media_element_<%= item.id %>" class="mini_thumb video">
  <video height="200" data-mp4="<%= item.mp4_url %>" data-webm="<%= item.webm_url %>" data-loaded="false">
    <source src="" type="video/mp4">
    <source src="" type="video/webm">
  </video>
</div>
