<div class="menuController <%= additional_class %>" id="lesson_menu_buttons_<%= lesson.id %>">
  <% cont = 0 %>
  <% lesson.buttons.each do |b| %>
    <%= render :partial => "shared/buttons/#{b}", :locals => {:item => lesson, :destination => destination} %>
    <% cont += 1 %>
  <% end %>
  <% if destination != ButtonDestinations::EXPANDED_LESSON %>
    <% while cont < 6 %>
      <a class="placeholder-btn"></a>
      <% cont += 1 %>
    <% end %>
  <% end %>
</div>
