<div class="empty-situation-container">
  <a href="/lessons/new">
    <div class="plus"></div>
    <div class="prompts">
      <div class="reason">
        <%= t('lessons.empty') %>
      </div>
      <div class="big-prompt">
        <%= t('lessons.create_new_now') %>
      </div>
    </div>
  </a>
</div>
