<div id="my_lessons">
  <% if lessons.empty? %>
    <% if filter == Filters::ALL_LESSONS %>
      <%= render :partial => 'lessons/empty' %>
    <% else %>
      <%= render :partial => 'lessons/empty_filter' %>
    <% end %>
  <% else %>
    <% lessons.each_with_index do |l, index| %>
      <% forced_margin = (index == lessons.length - 1) ? (@for_page - lessons.length) : nil %>
      <%= render :partial => 'lessons/view_single_compact', :locals => {:lesson => l, :destination => ButtonDestinations::COMPACT_LESSON, :likes_general_count => l.likes_general_count.to_i, :cover => covers[l.id], :notification_bookmarks => l.notification_bookmarks.to_i, :forced_margin => forced_margin, :bookmarks_count => l.all_bookmarks_count.to_i} %>
    <% end %>
  <% end %>
</div>
