<div class="empty-situation-container">
  <a href="/virtual_classroom/select_lessons" data-remote="true">
    <div class="plus vc"></div>
    <div class="prompts">
      <div class="reason">
        <%= t('virtual_classroom.empty') %>
      </div>
      <div class="big-prompt">
        <%= t('virtual_classroom.add_lesson_now') %>
      </div>
    </div>
  </a>
</div>
