@mixin nunito($size) {
  
  font-size: $size;
  font-family: "Nunito", "Arial Rounded MT Bold", Helvetica, sans-serif;
  
}

@mixin nunito-with-line-height($size, $line-height) {
  
  @include nunito($size);
  line-height: $line-height;
  
}

@mixin arial($size) {
  
  font-size: $size;
  font-family: Arial, Helvetica, sans-serif;
  
}

@mixin arial-with-line-height($size, $line-height) {
  
  @include arial($size);
  line-height: $line-height;
  
}

@mixin ulGallery {
  
  .pseudo-ul {
    
    padding: 0;
    margin: 0;
    
    .scroll-pane {
      
      margin-left: 35px;
      width: 840px;
      position: absolute;
      
      .pseudo-li {
        
        float: left;
        
      }
      
    }
    
  }
  
}

@mixin boxShadow {
  
  height: 590px;
  width: 900px;
  background-color: #252323;
  
}

@mixin slideshow($slidesAmount, $slideshowSel: ".slideshow", $slidesSel: ".slides", $slideSel: ".slide") {
  
  #{$slideshowSel} {
    
    overflow: hidden;
    
    #{$slidesSel} {
      
      width: calc(100% * #{$slidesAmount}); /* calc(100% * n) dove n è il numero di slides */
      position: relative;
      
      #{$slideSel} {
        
        float: left;
        width: calc(100% / #{$slidesAmount}); /* calc(100% / n) dove n è il numero di slides */
        
      }
      
    }
    
  }
  
}

@mixin slide-miniature {
  
  width: 243px; /* 900 scalato al 27% */
  height: 159px; /* 590 scalato al 27%, sarebbe 159.3 ma il 0.3 lo nascondo */
  padding: 21px 26px 26px 26px; /* top: 11 + 10; tutti gli altri: 16 + 10 */
  display: none;
  z-index: 9999999999;
  margin-top: 20px; /* per staccarsi dalle <a> */
  margin-right: 0;
  margin-bottom: 0;
  position: absolute;
  
}

@mixin buttonPlayerVirtual {
  
  width: $virtual-classroom-button-size;
  height: $virtual-classroom-button-size;
  background-image: $assets-icone-menu-virtual_svg;
  background-repeat: no-repeat;
  background-size: ($virtual-classroom-button-size * 2) ($virtual-classroom-button-size * 3);
  padding: 0;
  font-size: 0.688em;
  
}

@mixin buttonPlayer {
  
  width: $players-button-size;
  height: $players-button-size;
  background-image: $assets-icone-player_svg;
  background-repeat: no-repeat;
  background-size: ($players-button-size * 5) ($players-button-size * 4);
  padding: 0;
  
  &:hover {
    
    cursor: pointer;
    
  }
  
}

/* tenere allineato con content.css; le differenze con tale file sono sottolineate nei commenti */
@mixin read-only-tiny-mce {
  
  /* in content.css è < body, td, pre > */
  /* è anche stato rimosso html overflow: hidden che è stato messo solo per IE */
  @include arial-with-line-height(13px, 14px);
  color: $black;
  text-align: left;
  
  td, pre {
    
    @include arial-with-line-height(13px, 14px);
    color: $black;
    margin: 8px;
    text-align: left;
    
  }
  
  p, ol, ul {
    
    margin: 0 0 10px 0;
    
  }
  
  ol, ul {
    
    padding-left: 40px;
    
  }
  
  ul {
    
    list-style-image: $assets-pallino_svg; /* questo ha nome diverso, esistono due duplicati del pallino */
    
  }
  
  strong, b {
    
    font-weight: bold;
    
  }
  
  i, cite, em, var, address, dfn {
    
    font-style: italic;
    
  }
  
  a {
    
    color: $orange;
    text-decoration: none;
    
  }
  
  a:hover {
    
    text-decoration: underline;
    cursor: pointer;
    
  }
  
  .size1 {
    
    font-size: 13px;
    line-height: 14px;
    
  }
  
  .size2 {
    
    font-size: 17px;
    line-height: 19px;
    
  }
  
  .size3 {
    
    font-size: 21px;
    line-height: 23px;
    
  }
  
  .size4 {
    
    font-size: 25px;
    line-height: 27px;
    
  }
  
  .size5 {
    
    font-size: 29px;
    line-height: 32px;
    
  }
  
  .size6 {
    
    font-size: 35px;
    line-height: 39px;
    
  }
  
  body {
    
    background-color: #FFF;
    
  }
  
  body.mceForceColors {
    
    background-color: #FFF;
    color: #000;
    
  }
  
  body.mceBrowserDefaults {
    
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    
  }
  
  h1 {
    
    font-size: 2em;
    
  }
  
  h2 {
    
    font-size: 1.5em;
    
  }
  
  h3 {
    
    font-size: 1.17em;
    
  }
  
  h4 {
    
    font-size: 1em;
    
  }
  
  h5 {
    
    font-size: .83em;
    
  }
  
  h6 {
    
    font-size: .75em;
    
  }
  
  .mceItemTable, .mceItemTable td, .mceItemTable th, .mceItemTable caption, .mceItemVisualAid {
    
    border: 1px dashed #BBB;
    
  }
  
  a.mceItemAnchor {
    
    display: inline-block;
    -webkit-user-select: all;
    -webkit-user-modify: read-only;
    -moz-user-select: all;
    -moz-user-modify: read-only;
    width: 11px !important;
    height: 11px !important;
    background: $assets-tiny-items_gif no-repeat center center; /* questo ha nome diverso, esistono due duplicati di questa icona */
    
  }
  
  span.mceItemNbsp {
    
    background-color: #DDD;
    
  }
  
  td.mceSelected, th.mceSelected {
    
    background-color: #3399FF !important;
    
  }
  
  img {
    
    border: 0;
    
  }
  
  table, img, hr, .mceItemAnchor {
    
    cursor: default;
    
  }
  
  table td, table th {
    
    cursor: text;
    
  }
  
  ins {
    
    border-bottom: 1px solid green;
    text-decoration: none;
    color: green;
    
  }
  
  del {
    
    color: red;
    text-decoration: line-through;
    
  }
  
  cite {
    
    border-bottom: 1px dashed blue;
    
  }
  
  acronym {
    
    border-bottom: 1px dotted #CCC;
    cursor: help;
    
  }
  
  abbr {
    
    border-bottom: 1px dashed #CCC;
    cursor: help;
    
  }
  
  * html body {
    
    scrollbar-3dlight-color: #F0F0EE;
    scrollbar-arrow-color: #676662;
    scrollbar-base-color: #F0F0EE;
    scrollbar-darkshadow-color: #DDD;
    scrollbar-face-color: #E0E0DD;
    scrollbar-highlight-color: #F0F0EE;
    scrollbar-shadow-color: #F0F0EE;
    scrollbar-track-color: #F5F5F5;
    
  }
  
  img:-moz-broken {
    
    -moz-force-broken-image-icon: 1;
    width: 24px;
    height: 24px;
    
  }
  
  font[face=mceinline] {
    
    font-family: inherit !important;
    
  }
  
  *[contentEditable]:focus {
    
    outline: 0;
    
  }
  
}

@mixin slide-title-common {
  
  @include nunito-with-line-height($slide-title-font-size, $slide-title-line-height);
  width: $slide-title-inner-width;
  height: $slide-title-inner-height;
  padding: $slide-title-padding;
  border: $slide-title-border solid #EFEFEF;
  color: $orange;
  letter-spacing: -4px;
  background-color: white;
  
}

@mixin general-empty-mask {
  
  color: #999999;
  background-color: #F1F1F1;
  font-size: $icon-label-font-size;
  text-align: center;
  
}

@mixin image-caption {
  
  @include nunito-with-line-height($image-caption-font-size, $image-caption-line-height);
  background-color: rgba(50, 50, 50, 0.7);
  color: #FAFAFA;
  height: $image-caption-height;
  padding: 0 $image-caption-horizontal-padding;
  position: absolute;
  left: auto;
  bottom: 0;
  
}

@mixin call {
  
  z-index: 20;
  position: absolute;
  border: 0;
  right: -6px;
  
}

@mixin svg-circle-icon-handler-without-hover($svg, $size, $how-many-h, $how-many-v, $opacity, $pos-h, $pos-v, $float: left) {
  
  width: $size;
  height: $size;
  opacity: $opacity;
  background-repeat: no-repeat;
  background-image: $svg;
  background-size: ($size * $how-many-h) ($size * $how-many-v);
  background-position: (-$size * $pos-h) (-$size * $pos-v);
  float: $float;
  
}

@mixin svg-circle-icon-handler($svg, $size, $how-many-h, $how-many-v, $opacity, $pos-h, $pos-v, $opacity-hover, $pos-h-hover, $pos-v-hover, $float: left) {
  
  @include svg-circle-icon-handler-without-hover($svg, $size, $how-many-h, $how-many-v, $opacity, $pos-h, $pos-v, $float);
  
  &:hover {
    
    opacity: $opacity-hover;
    background-position: (-$size * $pos-h-hover) (-$size * $pos-v-hover);
    
  }
  
}

@mixin lesson-viewer-general {
  
  margin: 0;
  min-height: 100%;
  
  * {
    
    outline: none;
    
  }
  
  body {
    
    @include arial(13px);
    direction: ltr;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    background-image: $assets-bg-title-editor_gif;
    background-repeat: repeat-x;
    background-position: top left;
    background-color: #5F5F5F;
    
  }
  
  a {
    
    color: white;
    text-decoration: none;
    
    &:hover {
      
      color: #DEDEDE;
      
    }
    
  }
  
  h1, h2, h3, h4, h5, h6, h7 {
    
    font-family: "Nunito", "Arial Rounded MT Bold", Helvetica, sans-serif;
    color: $orange;
    
  }
  
  .top {
    
    margin-bottom: -220px;
    background-color: transparent;
    width: 1px;
    height: 40%;
    float: left;
    
  }
  
  .container {
    
    margin: 0 auto;
    width: 900px;
    height: 590px;
    clear: left;
    position: relative;
    text-align: left;
    padding: 0;
  }
  
  ul#cover {
    
    display: block;
    overflow: hidden;
    width: 900px;
    height: 590px;
    
    li.cover {
      
      display: inline-block;
      list-style-type: none;
      padding: 0px;
      float: left;
      width: 900px;
      height: 590px;
      -webkit-box-shadow: 0px 6px 16px #323333;
      box-shadow: 0px 6px 16px #323333;
      
    }
    
  }
  
  .esciButton {
    
    margin-top: 0;
    font-size: 0.35em;
    opacity: 0.4;
    height: 6em;
    
    &:hover {
      
      background-position: 0em -1em;
      opacity: 1;
      
    }
    
  }
  
  #carousel_inner {
    
    float: left;
    width: 900px;
    height: 590px;
    overflow: hidden;
    -webkit-box-shadow: 0px 6px 16px #161515;
    box-shadow: 0px 6px 16px #161515;
    
  }
  
  #carousel_ul {
    
    position: relative;
    left: 0px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
    
  }
  
  #carousel_ul li.slide {
    
    float: left;
    width: 900px;
    padding: 0px;
    height: 590px;
    margin: 0;
    
  }
  
  #left_scroll, #right_scroll {
    
    margin: 0;
    position: absolute;
    z-index: 10;
    opacity: 0.2;
    
    &:hover {
      
      opacity: 1;
      
    }
    
  }
  
  #right_scroll {
    
    right: 0;
    
  }
  
  #footer {
    
    padding: 6px 12px 18px 12px;
    display: block;
    background-color: #1C1C1C;
    color: white;
    font-size: 12px;
    opacity: 0.85;
    position: fixed;
    height: 30px;
    width: 100%;
    margin-top: 10px;
    height: 10px;
    clear: both;
    left: 0px;
    
    img {
      
      float: left;
      width: auto;
      margin-right: 5px;
      margin-top: 4px;
      
    }
    
    p {
      
      margin-top: 2px;
      float: left;
      
    }
    
  }
  
}
