<div class="slide-content title small-size">
  
  <div class="item title-container">
    <textarea class="title read-only" disabled="disabled"><%= slide.title.blank? ? t('lesson_editor.placeholders.title') : slide.title %></textarea>
  </div>
  
</div>
