<div class="image" style="<%= image_style slide.media_elements_at %>"></div>
<div class="subject"><%= lesson.subject.description %></div>
<h1 class="title"><%= lesson.title %></h1>
<div class="author"><%= lesson.user.full_name %></div>