<div id="alert" class="alert alert-error" style="display:none">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <div class="start"><%= t('admin.search.date.errors.initial_follows_final') %></div>
  <div class="end"><%= t('admin.search.date.errors.final_preceeds_initial') %></div>
</div>
