<div id="audio_editor_timeline" class="hideMe">
  <% cont = 1 %>
  <% components.each do |p| %>
    <%= render :partial => "audio_editor/component", :locals => {:component => p, :identifier => cont, :empty => false} %>
    <% cont += 1 %>
  <% end %>
</div>
