<% if !@new_url.blank? %>
  $('#image_wrapper img').attr('src', '<%= @new_url %>?timestamp=' + new Date().getTime());
  $('#image_editor_crop_buttons ._cancel').trigger('click');
  $('#image_editor_form input._coord').val('');
  $('#image_editor_empty_buttons ._undo').show();
  $('#image_editor_real_dimensions').html('<%= j t("image_editor.original_size") %>: <%= @new_img[:width] %>x<%= @new_img[:height] %>px');
  $('body').prepend('<span class="_saved"></span>');
  centerThisInContainer('._saved','#image_wrapper');
  $('._saved').fadeTo('fast', 0).fadeTo('fast', 0.7).fadeTo('fast', 0.3).fadeOut();
<% else %>
  redError();
<% end %>
